html, body {
  padding: 0;
  margin: 0;
}

div {
  display: block;
}

header nav{
  height: calc(78px - 3px * 2);
  line-height: calc(78px - 3px * 2);
  font-size: 20px;
  padding: 0 12px;
  -webkit-box-orient: horizontal;
    -webkit-box-pack: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 3;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

header nav li {
  float: right;
  list-style: none;
  position: relative;
  margin-top: 12px;
  margin-bottom: 0;
}

header nav li a {
  display: block;
  box-sizing: border-box;
  display: block;
  padding: 0 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: bold;
}

header nav li ul {
  display: none;
position: absolute;
background-color: #fff;
padding: 10px;
border-radius: 0 0 4px 4px;
}

a:hover {
    color: #000;
    text-decoration: none;
    margin-bottom: 0;
    margin-top: 3px;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:link {
  color: #000;
  text-decoration: none;
}

a {
    color: #000;
    -webkit-tap-highlight-color: transparent;
}

header nav li a:hover {
  border-bottom: 3px solid #000;
}

header {
  width: 100%;
  height: 81px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#logo {
  width: 210px;
  float: left;
  margin-left: 15px;
  margin-right: 0;
  margin-top: 3px;
  margin-bottom: 0;
}

#logo:hover {
  opacity: 0.1;
}

#logo img {
  width: 35%;
}

.home {
  -webkit-box-orient: horizontal;
    -webkit-box-pack: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex: 3;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

#homeimg {
    max-width: 60vw;
    width: 100%;
    height: auto;
}

.headline {
  justify-content: center;
  align-items: center;
}

h1 {
  margin-left: 42%;
  font-size: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
}

h2 {
  width: 500px;
  margin-left: 40%;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
}

#logo{
  transition: all 300ms; -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms;
}

footer p{
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  margin-right: 50%;
  margin-left: 20%;
}

footer {
  margin-top: 150px;
  background-color: #131313;
  justify-content: space-between;
  padding: 70px;
}

.menu2 {
  float: right;
  border-left: 2px solid black;
  margin-right: 15px;
  padding-left: 8px;
}

.menu2 h3 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
}

.menu2 li {
  list-style: none;
}

.menu2 li a {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}

.menu2 li a:hover {
  border-bottom: 1px solid #000;
}
